@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'PT Mono', monospace;
  background-color: antiquewhite;
}

h1 {
  font-size: 72px;
  padding: 2rem;
}

section {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-bottom: 2rem;
  background-color: whitesmoke;
}

h2 {
  font-size: 42px;
  text-align: center;
  padding: 2rem;
}

p {
  text-align: justify;
  padding: 1rem;
}


li {
  padding: 0.5rem;
}

footer {
  display: flex;
  flex-direction: column;

}

footer>ul {
  list-style: none;
  display: flex;
  justify-content: center;
  

}